<header>
    <nav>
        <ul class="nav-menu">
            <li class="nav-link{{#if ( eq activePage "home") }} is--active{{/if}}">
                <a href="/">home</a>
            </li>
            <li class="nav-link{{#if ( eq activePage "about") }} is--active{{/if}}">
                <a href="/about">about</a>
            </li>
        </ul>
    </nav>
</header>