/* BASE CSS */
:root {
  background-color: $secondary-color;
  color: $primary-color;
  font-family: $primary-font;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 700;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 10px;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  &.is--active {
    a {
      border-bottom: 2px solid $primary-color;
    }
  }
}