@import 'reset';
@import 'vars';

/* BASE CSS */
:root {
  background-color: $primary-color;
  color: $secondary-color;
}

.nav-menu {
  width: 100%;
  display: flex;
  border: 1px solid red;
}

.nav-link {
  padding: 10px;

  a { color: white; text-decoration: none}

  &.is--active {
    a {
      border-bottom: 10px solid red;
    }
  }
}